# Kafka consumer configuration
name=kafka-connector-csvfile-sink

# Kafka connector configuration
connector.class=org.radarcns.connect.csvfile.CsvFileSinkConnector
tasks.max=1

# Topics that will be consumed
topics=questionnaire_esm

